<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
@model ClassicGarage.Models.RegisterViewModel
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) { }
else
{
    <body>
        <table class="table">
            <tr>
                <th>
                    
                </th>
            </tr>
        </table>
        }
    </body>
</html>